body{
    margin-bottom: 0rem;
    padding: 0rem;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}
.box-login{
    width: 350px;
    height: 450px;
    background: rgba(12, 11, 11, 0.945);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px;
    transform: translate(-50%,-50%);
}
.box-login p{
    margin-bottom: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: sans-serif;
}
.box-login input{
    width: 100%;
    margin-bottom: 20px;
}
.box-login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.box-login input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.box-login input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgba(5, 5, 5, 0.692);
}
h1{
    margin-top: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
}