* {
  font-family: Arial, Helvetica, sans-serif;
}
.box {
  width: 40%;
  height: 450px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.chat {
  border: 1px solid black;
  height: 450px;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.form {
  border: 1px solid black;
}
input {
  width: 92%;
}